-
  function pageClass() { 
    var pc = page && page.pageClass; 
    console.log(pc);
    return pc;
  }
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title
    link(href='https://fonts.googleapis.com/css?family=Alegreya+SC|Source+Sans+Pro|Playfair+Display+SC' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Alegreya+SC' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    link(rel='stylesheet', href=helpers.path('/css/styles.css'))
  body
    nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
      .container-fliud
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') #{site.title}
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            block menu
            li
              a(href='/index.html') Home
            li
              a(href='/about.html') About
            li
              a(href='/') Contact
    header.intro-header(style="background-image: url('https://static.pexels.com/photos/3247/nature-forest-industry-rails.jpg')")
      .containter-fluid
        .row
          h1 Aaron Warman
    .body.container
      .row
        .col-md-12
           block content
    script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
