extends ../templates/layout.pug

block content
  h2 About Me
  p My name is Aaron Warman, I'm from Long Island, New York and I'm currently learning how to code at Online Devschool. This blog will document my journey learning to code. Hopefully this will help other people who are new to web development get an idea of what goes into learning a new skill by attending an online bootcamp like Devschool.   
