extends ../templates/layout.pug

block content
  h2 About Me
  p My name is Aaron Warman and I am an aspiring Full Stack Web Developer. I am currently learning how to code at Online Devschool with a little bit of this and a little bit of that thrown in.
