extends ../templates/layout.pug

block content
  h2 Recent Posts
  each post in site.posts
    .blogpost
      a(
        href= post.permalink,
        class="post-title") #{post.frontMatter.title}
      | !{post.summary}
      if post.summary !== post.body
        a(href= post.permalink, class="read-more")  Read more...
